{% extends 'base.html.twig' %}

{% block title %} Modification du profil {% endblock %}

{% block body %}
    {% include '_parts/_forumHeader.html.twig' %}

    <main class="container">
        <h2>Mes articles</h2>
        <section class="row">
            
        </section>    
    </main>
{% endblock %}