{% extends 'base.html.twig' %}

{% block title %} Modification du profil {% endblock %}

{% block body %}
    {% include '_parts/_forumHeader.html.twig' %}

    <main class="container">
        <h2>Modifier mon profil</h2>
        <section class="row">
            {{ form_start(form) }}
                {{ form_row(form.email) }}
                {{ form_row(form.password) }}
                    <button type="submit" class="btn btn-primary mt-3 btn-lg">Modifier mon profil</button>
            {{ form_end(form) }}
        </section>    
    </main>

    {% include "_parts/_footer.html.twig" %}

{% endblock %}