{% extends 'base.html.twig' %}

{% block title %} Modification du profil {% endblock %}

{% block body %}
    {% include '_parts/_forumHeader.html.twig' %}

    <main class="container h-100">
        <h2 class="mt-2 mb-4">Modifier mon mot de passe</h2>
        <section class="m-2">
            
        </section>    
    </main>

    {% include "_parts/_footer.html.twig" %}

{% endblock %}