{% extends 'base.html.twig' %}

{% block title %} Modification du profil {% endblock %}

{% block body %}
    {% include '_parts/_forumHeader.html.twig' %}

    <main class="container h-75">
        <div class="mt-3 text-center">
            <span class="backgroundTitle h2 px-3 rounded">Modifier mon profil</span>
        </div>

        <section class="row m-2 d-flex justify-content-evenly">
            <div class="card col-md-5 ms-3 mt-2">
                <div class="card-body d-flex row">
                    <p class="card-title h5 mb-3">Ce que je peux modifier</p>
                    <p class="card-text text-center">
                        <a href="{{ path('profile_edit_password', {id: app.user.id } )}}" class="btn btnSend m-2">Modifier mon mot de passe</a>
                    </p>
                    <p class="card-text text-center">
                        <a href="{{ path('profile_edit_email', {id: app.user.id } )}}" class="btn btnMail m-2">Modifier mon adresse email</a>
                    </p>
                </div>
            </div>

            <div class="card col-md-5 ms-3 mt-2">
                <div class="card-body d-flex row">
                    <p class="card-title h5 mb-3">Suppression du compte</p>
                    <div class="card-text text-center">
                        {% if is_granted('ROLE_ADMIN') %}
                            <p class="text-danger h3">Ce compte ne peut pas être supprimé</p>
                        {% elseif is_granted('ROLE_MODO') %}
                            <p  class="text-danger h5">Ce compte ne peut pas être supprimé, demandez à un administrateur de vous enlever les accès de modérateur pour que ce soit possible.</p>
                        {% else %}
                            <p>En cliquant sur ce bouton, vous supprimerez définitivement votre compte.</p>
                            <p>Supprimer votre compte supprimera également vos contributions au forum.</p>
                            <a href="{{ path('profile_user_delete') }}" class="btn btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer votre compte ?)">Supprimer mon compte</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>

        <div class="mt-5">
            <a href="{{ path('profile_index') }}" class="btn btnReturn">Retour au profil</a>
        </div>    
    </main>

    {% include "_parts/_footer.html.twig" %}

{% endblock %}