{% extends 'base.html.twig' %}

{% block title %} Profil de {{ app.user.nickname }} {% endblock %}

{% block body %}
    {% include '_parts/_forumHeader.html.twig' %}

    <main class="container">
        <h1>Mon profil</h1>
        <section>
            <h2>Afficher le profil et proposer les modifications :</h2>
            <ul>
                <li>mot de passe</li>
                <li>adresse mail</li>
                <li>avatar ?</li>
            </ul>
        </section>
    </main>
{% endblock %}
