{% extends 'base.html.twig' %}

{% block title %} Profil de {{ app.user.nickname }} {% endblock %}

{% block body %}
    {% include '_parts/_forumHeader.html.twig' %}

    <main class="container">
        <h1>Mon profil</h1>
        <section>
            <h2>Modifier mon profil</h2>
        </section>
    </main>
{% endblock %}
