{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block body %}

    {% include "_parts/_homeHeader.html.twig" %}

    <main class="container my-5 pb-3">
        <section class="row m-auto">
            <div class="col card p-3">
                <h1>Réinitialisation du mot de passe</h1>
                {{ form_start(passForm) }}
                    {{ form_row(passForm.password) }}
                    <button type="submit" class="btn btnSend mt-3">Envoyer</button>
                {{ form_end(passForm) }}
            </div>
        </section>
    </main>

    {% include "_parts/_footer.html.twig" %}

{% endblock %}