<footer class="mt-5">
    <div class="navbar navbar-expand-lg navbar-light w-100">
        <div class="container">
            <div class="row col-12 d-flex justify-content-center">
                <a class="contactLink" href="{{ path('app_contact')}}">Lien contact</a> |  &copy; Fred {{ "now"|date("Y") }}, tous droits réservés.
            </div>
        </div>
    </div>
</footer>