{% extends 'base.html.twig' %}

{% block title %}Administration - Users{% endblock %}

{% block body %}
    {% include "_parts/_homeHeader.html.twig" %}

    <h1>Administration des utilisateurs</h1>


{% endblock %}
