{% extends 'base.html.twig' %}

{% block title %}Administration du forum{% endblock %}

{% block body %}
    {% include "_parts/_forumHeader.html.twig" %}

    <h1>Administration des utilisateurs</h1>


{% endblock %}
