{% extends 'base.html.twig' %}

{% block title %}Modification image{% endblock %}

{% block body %}

    {% include "_parts/_forumHeader.html.twig" %}

    <main class="container">
        <h3>Liste des images à modérer</h3>

        <section class="row">
            Mettre une liste des images à désactiver ou pas

            <a href="{{ path('admin_users_index') }}" class="btn btn-warning">Retour au panneau de modération</a>
        </section>
    </main>

{% endblock %}
