*{
    margin: 0;
    padding:0;
}

body{
    background-color:bisque;
}

header{
    background-color: whitesmoke;
}

a{
    text-decoration: none;
    color: currentColor;
}

.logo{
    width: 5rem;
    height: auto;
}

.connectedUser{
    font-weight: bold;
    color: crimson;
}

li{
    list-style-type: none;
}

.itemTitle:hover{
    color:crimson;
    font-weight: bold;
}
.line{
    border-top: solid 2px grey;
    width: 4rem;
}

.pagination a{
    color: brown;
}

.pagination .active a{
    background-color: brown !important;
    border: 1px brown solid !important; 
}

.pagination .active a:hover{
    background-color: rgb(187, 47, 47) !important; /*un peu plus clair*/
    border: 1px brown solid !important; 
}