*{
    margin: 0;
    padding:0;
}

body{
    background-color:bisque;
    height: 100%;
}

header{
    background-color: whitesmoke;
}

/*.adminbtn:hover{
    background-color: rgba(255, 0, 0, 0.315);
    color: black;
}*/

.siteTitle{
    color:rgb(187, 47, 47);
}

footer{
    position: fixed;
    bottom: 0;
    background-color:brown;
    width: 100% !important;
    color: whitesmoke;
}

a{
    text-decoration: none;
    color: currentColor;
}

.logo{
    width: 5rem;
    height: auto;
}

.dateNow{
    font-size: 0.8rem;
}

.connectedUser{
    font-weight: bold;
    color: crimson;
}

li{
    list-style-type: none;
}

.itemTitle:hover{
    color:crimson;
    font-weight: bold;
}

.line{
    border-top: solid 2px grey;
    width: 4rem;
}

.pagination a{
    color: brown;
}

.pagination .active a{
    background-color: brown !important;
    border: 1px brown solid !important; 
}

.pagination .active a:hover{
    background-color: rgb(187, 47, 47) !important; /*un peu plus clair*/
    border: 1px brown solid !important; 
}

.blogPicture{
    max-width: 30rem;
}

.modifPicture{
    max-width: 20rem;
}

.invisible{
    display: none;
}

.moderationButton{
    color: black;
}

.moderationButton:hover{
    color: black;
    font-weight: bold;
}

.form-check-input{
    border: 1px brown solid !important;
}

.form-check-input:checked{
    background-color: brown !important;
}

.backTo{
    height: 6rem;
}

.buttons{
    height: 8rem;
}

/*### COULEURS ###*/

/*.btn-primary{
    background-color: blueviolet !important;
    border: 1px solid rgb(76, 24, 124) !important;
}*/

