{% extends "base.html.twig" %}


{% block title %}Forum Articles{% endblock %}

{% block body %} 

    {% include "_parts/_forumHeader.html.twig" %}
    <section class="container">
        <h1>Forum articles</h1>

        <h2>Liste tes articles existants</h2>

        <p>
        <ul>
            {% for article in articles %}
                <a href="{{ path('articles_article', {title: article.title}) }}"><li>{{ article.title }}</li></a>
            {% endfor %}  
        </ul>
            

        {# {% for title in article %}
                {{ article.title }}
            {% endfor %} #}
        
        </p>
    </section>
    

{% endblock %}

{# Lien vers page d'un article : 

href="{{ path('articles_article'), {title: article.title} }}"

#}