{% extends "base.html.twig" %}


{% block title %}Forum Articles{% endblock %}

{% block body %} 

    {% include "_parts/_forumHeader.html.twig" %}

    <main class="container">
        <h2>Forum articles</h2>

        <h3>Liste tes articles existants</h3>

        <p>
            <ul>
                {% for article in articles %}
                    <a href="{{ path('articles_app_article_show', {'id': article.id}) }}" class="itemTitle">
                        <li>{{ article.title }}</li>
                    </a>
                    <div class="line my-1"></div>
                {% else %}
                    <p>Pas d'article trouvé.</p>
                {% endfor %}  
            </ul>
        </p>

        <p>
            <a href="{{ path('articles_app_article_new') }}">
                <button class='btn btn-success mt-3'>
                    Enregistrer un nouvel article
                </button>
            </a>
        </p>
    </main>
    
{% endblock %}

{# Lien vers page d'un article : 

href="{{ path('articles_article'), {title: article.title} }}"

#}