{% extends 'base.html.twig' %}

{% block title %}Modifier un article{% endblock %}

{% block body %}

    {% include "_parts/_forumHeader.html.twig" %}

    <section class="container">
        <h2>Liste des articles à modérer</h2>
        <section class="row">
            Mettre une liste des articles à désactiver ou pas

            <a href="{{ path('admin_users_index') }}" class="btn btn-warning">Retour au panneau de modération</a>
        </section>
    </section>

    


{% endblock %}
