<form method="post" action="{{ path('images_app_blog_images_delete', {'id': image.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir supprimer cette image ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ image.id) }}">
    {% for role in app.user.roles %}
        {% if role == "ROLE_ADMIN" %}
            {% if app.user is not same as (image.user) %}
                <button  class="btn btnDelete">Supprimer l'image</button>
            {% endif %}
        {% elseif role == "ROLE_MODO" %}
            {% if app.user is not same as (image.user) %}
                <button  class="btn btnDelete">Supprimer l'image</button>
            {% endif %}
        {% else %}
            {% if app.user is same as (image.user) %}
                <button  class="btn btn-danger">Supprimer l'image</button>
            {% endif %}
        {% endif %}
    {% endfor %}
</form>
