{% extends 'base.html.twig' %}

{% block title %}Nouvelle image{% endblock %}

{% block body %}

    {% include "_parts/_forumHeader.html.twig" %}

    <h1>Enregistrer une nouvelle image</h1>

    <p class="mt-3">
        Auteur de l'image : 
    </p>

    <a href="{{ path('images_app_blog_images_index') }}" class="btn btn-secondary">Retour à la liste d'images</a>
    
{% endblock %}
