{% extends "base.html.twig" %}

{% block title %}Modération du forum{% endblock %}

{% block body %}

    {% include '_parts/_forumHeader.html.twig' %}

    <main class="container col-sm-9 col-md-12">
        <div class="mt-4 text-center">
            <span class="backgroundTitle h2 px-3 rounded">Modération du forum</span>
        </div>
        
        <section class="row m-5 w-75 m-auto">
            <nav class="nav flex-column mt-3">
                <li class="nav-item">
                    <a href="{{ path('modo_blog_index') }}" class="btn btn-warning mt-3 nav-link moderationButton">Gestion du blog images</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('modo_articles_index') }}" class="btn btn-warning mt-3 nav-link moderationButton">Gestion des articles</a>
                </li>
            </nav>
        </section>
    </main>
    
    {% include "_parts/_footer.html.twig" %}
    
{% endblock %}