<h1>Réinitialisation de votre  mot de passe</h1>
<p>Bonjour {{ user.firstname }} {{ user.lastname }},</p>
<p>Vous avez demandé la réinitialisation de votre mot de passe pour le forum de partage d'images et d'articles. 
Vous pouvez le faire en cliquant sur le lien ci-dessous : </p>
<p><a href="{{ url|raw }}">Lien de réinitialisation du mot de passe</a></p>
<p>Merci.</p>