{% extends 'base.html.twig' %}

{% block title %}Page non trouvée{% endblock %}

{% block body %}

{% include "_parts/_homeHeader.html.twig" %}

<main class="container">
    <h1>Erreur de dialogue avec la base de données.</h1>
    <div>Un problème est survenu. ☹️</div>
</main>


{% endblock %}
