{% extends 'base.html.twig' %}

{% block title %}Page non trouvée{% endblock %}

{% block body %}

{% include "_parts/_homeHeader.html.twig" %}

<main class="container">
    <h1>Page non trouvée</h1>
    <div>La page que vous recherchez n'a pas été trouvée ☹️</div>
</main>


{% endblock %}
