{% extends "base.html.twig" %}


{% block title %}Forum{% endblock %}

{% block body %} 

    {% include "_parts/_forumHeader.html.twig" %}

    <main class="container">
        <div class="row">
            <h1>Choix du forum </h1>
            <div class="col-6">Image random</div>
            <div class="col-6">Article random</div>
        </div>
    </main>
    

{% endblock %}