{% extends "base.html.twig" %}

{% block title %}Forum{% endblock %}

{% block body %} 

    {% include "_parts/_forumHeader.html.twig" %}

    <main class="container">
        <div class="row">
            <h1>Choix du forum </h1>

            <div class="row">
                <div class="col-sm-6 mt-2">
                    <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Forum Images</h5>
                        <p class="card-text">Exemple d'image (miniature) random postée sur le forum images.</p>
                        <a href="{{ path('images_app_images_index') }}" class="btn btn-primary">Forum images</a>
                    </div>
                    </div>
                </div>
                <div class="col-sm-6 mt-2">
                    <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Forum Articles</h5>
                        <p class="card-text">Exemple d'article (partie) random posté sur le forum articles</p>
                        <a href="{{ path('articles_app_articles') }}" class="btn btn-primary">Forum articles</a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    

{% endblock %}